
<div class="atm-title">ATM #{{ atmNumber }}</div>

<hr>

<div>
	<b>Available bank notes:</b><br>
	<ul>
		<li *ngFor="let item of availableBankNotes">
			<b>{{ item.value }}€:</b> {{ item.count }}
		</li>
	</ul>
</div>

<hr>

<form class="withdraw-form">

	<input type="number" name="amountToWithdraw" [(ngModel)]="amountToWithdraw" placeholder="Enter amount to withdraw">

	<!-- Uncomment for question 2 -->
<!-- 	<input type="text" name="accountToWithdrawFrom" [(ngModel)]="accountToWithdrawFrom" placeholder="Account to withdraw from"> -->
	
	<button (click)="withdraw()" type="button" [disabled]="withdrawing">
		{{ withdrawing ? 'Withdrawing...' : 'Withdraw' }}
	</button>

</form>

