
<div class="atms">
  <app-atm [atmNumber]="123456"></app-atm>
  <app-atm [atmNumber]="654321"></app-atm>
  <app-atm [atmNumber]="111111"></app-atm>
  <app-atm [atmNumber]="999999"></app-atm>  
</div>
